<header class="jumbotron">
  <h1 class="text-center">
    <main class="container">{{titulo}}</main>
  </h1>
</header>
<main class="container">
  <div class="row">
    <div class="col-12 mb-4">
        <a routerLink="cadastro" class="btn btn-primary">
          Nova Foto
        </a>
    </div>
  </div>
  <div class="row">
    <card *ngFor="let foto of listaFotos" [foto]="foto" class="col-md-4 mb-4">
      <a [routerLink]="['/editar', foto._id]" class="foto">
        <foto [url]="foto.url" [titulo]="foto.titulo"></foto>
      </a>
      <button (click)="removeCard(foto)" class="btn btn-danger">Apagar</button>
    </card>
  </div>

</main>